#navbar{
display: inline-block;
width:30%; 
height:100vh;
position: sticky;
top: 0;
vertical-align: top;
border-right: 2px solid #000;
}
#main-doc{
display: inline-block;
width:69%; 

margin-bottom: 30px;
padding-bottom: 30px;
}
body{
    padding:0;
    margin:0;
}

#Python-Doc{
    text-align: center;
    margin-top: 30px;
    padding-bottom: 30px;
    font-size: large;
    font-weight: 600;
    font-family: 'Georgia', 'Times New Roman', Times, serif;
    border-bottom: 1px solid black;
}
#Introduction{
    margin-left: 30px;
    margin-top: 30px;
    font-size: x-large;
}
#What-you-should-already-know{
    margin-left: 30px;
    margin-top: 30px;
    font-size: x-large;
}
#Hello-World{
    margin-left: 30px;
    margin-top: 30px;
    font-size: x-large;
}
#Variables{
    margin-left: 30px;
    margin-top: 30px;
    font-size: x-large;
}
#Data-Types{
    margin-left: 30px;
    margin-top: 30px;
    font-size: x-large;
}

p{
    letter-spacing: 1px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 20px 40px;
}
li{
    margin-left: 50px;
    padding: 5px;
}
.nav-link{
    display: flex;
    padding-left: 25px;
    margin: 30px 0;
    border-bottom: 1px solid #000;
    padding-bottom: 30px;
    font-weight: 600;
    font-size: 15px;
    color: #000;
    text-decoration: none;
}
code{
    margin-left: 50px;
    border: 1px solid black;
    background-color: rgb(219, 218, 220);
    border-radius: 5px;
    display: block;
    padding: 10px 20px;
    font-size:16x
}
li{
    font-size: 18px;
}
