html{
    background-color: rgb(232, 252, 252);
}
h1 , h2{
    text-align: center;
}
#image{
    width: 100%;
    height: auto;
    margin: 20px auto;
    max-width: 100%;
    display: block;
    border-radius: 10px;

}
ul,#time{
    width:500px;
    text-align: left;
    margin:20px auto;
}
p{
    border-bottom: 1px solid grey;
    padding-bottom: 10px;
}
#label-tribute{
    display: block;
    text-align:center;
    padding: 15px;
    margin: 20px auto;
}
#img-caption{
    margin-bottom: 35px;
}
li,a{
    font-weight: bold;
}
.divider{
    margin-bottom: 50px;
}
#container-1 {
    display: flex;
    justify-content: center;
    align-items: stretch; 
    gap: 20px; 
    margin: 20px auto;
    width: 90%;
    max-width: 1000px;
}
.sections {
    flex: 1;
    display: flex;
    flex-direction: column; 
    justify-content: space-between; 
    padding: 15px;
    border: 1px solid rgb(112, 140, 232);
    background-color: rgb(224, 224, 248);
    border-radius: 5px;
    letter-spacing: 1px;
}
.sub-section {
    margin-top: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right; 
}
q{
    text-align: center;
    margin: 20px auto;
    display: block;
    max-width: 600px;
}
#end-label{
    text-align: center;
    display: block;
    margin-bottom: 40px;
}